<%- include('../partials/header', { page: 'Product List', path: 'product-list' }) %>
<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <th>id</th>
      <th>produto</th>
      <th>ações</th>
    </thead>
    <tbody>
      <% for (let item of list) { %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.title %></td>
        <td class="d-flex">
          <a href="/admin/edit-product/<%= item.id %>" class="btn btn-info mr-1">editar</a>
          <form method="POST" action="/admin/remove-product/<%= item.id %>">
            <button type="submit" class="btn btn-danger">remover</button>
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>