<%- include('../partials/header', { page: 'My Carts', path: 'cart' }) %>
<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <th>id</th>
      <th>produto</th>
      <th>quantidade</th>
    </thead>
    <tbody>
      <% for (let item of products) { %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.title %></td>
        <td><%= item.quantity %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>