<%- include('../partials/header', { page: 'My Carts', path: 'cart' }) %>
<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <th>id</th>
      <th>produto</th>
      <th>quantidade</th>
      <th></th>
    </thead>
    <tbody>
      <% for (let item of products) { %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.title %></td>
        <td><%= item.cartItem.quantity %></td>
        <td>
          <form method="POST" action="/cart/remove">
            <input type="hidden" name="product" value="<%= item.id %>">
            <button class="btn btn-danger">Remover</button>
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>